@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
@mixin button{
  color: white;
  background-color:coral;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: "Heebo", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
overflow-x: hidden;
  }

  .bg-img{
    background: url('./assets/bg.jpg');
    width: 100vw;
    height: 80vh;
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
      
  }

  .button{
    @include button();
    padding: 9px 26px ;
    text-align: center;
    border-radius: 10px;

  }
  

.img-round1{
border-radius: 200px 200px 0 0 ;
transform: translateY(140px);
}
.img-round2{
border-radius: 100px 100px 0 0 ;
}

@media screen and (min-width:1020px) {
  .bg-img{
background-position: center;
background-clip: border-box;
background-attachment: fixed;
  }

  .button{
    @include button();
    padding: 15px 40px;
  }
}